/config/config.local.php
/static/
/node_modules/
/locale/**/*.mo
.idea
/var/
/log/
.htaccess
/storage/
# Vagga stuff
/run/
/.vagga/
/vendor/

# Versioning
/config/*.version

# IDEA files
*.iml

# OS X tmp
.DS_Store
