/config/config.local.php
__pycache__
/static/
/node_modules/
/locale/**/*.mo
/var/
/log/
.htaccess
/storage/
# Vagga stuff
/run/
/.vagga/
/vendor/

# Versioning
/config/*.version

# IDEA files
*.iml
.idea

# OS X tmp
.DS_Store
