.button
  display inline-block
  padding 3px 10px
  margin 0
  text-align center
  vertical-align middle
  text-decoration none
  line-height 20px
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.75)
  border 1px solid #ddd
  border-radius 3px
  color #333
  background #fafafa
  background linear-gradient(top,  #fff 0%,#e6e6e6 100%)
  box-shadow 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
  cursor pointer
  &:hover
    text-decoration none
    background #eee
  &.button-primary
    color #fff
    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color: #213162;
    background: #334470 none repeat scroll 0 0;
    &:hover
      background: #4B64A4 none repeat scroll 0 0;
  &.button-small
    font-size 11px
    padding 1px 7px 3px
  &.button-action
    border none
    padding 4px 4px 3px
    background #c8f5ff
    span
      display none
    &:hover
      span
        display inline
        padding 0 5px 0 5px
        position relative
        top -2px
        color #fff
      i
        vertical-align top
        position relative
        top -1px
    &.button-action-add-friend
      &:hover
        i
          background-position -147px -39px
    &.button-action-send-message
      &:hover
        i
          background-position -163px -39px
    &.button-action-note
      background #ccf4d0
      padding 6px 6px 6px 7px
      &:hover
        background #4ace56
        border none
        box-shadow none
        padding 6px 6px 6px 7px
        cursor default
        i
          top 0
          background-position -46px -65px
      i
        display block

#form_comment
  .button
    margin-top 2px

.button.button-action.active,
.button.button-action:hover
  border 1px solid #213162
  box-shadow 0 -1px 0 #213162 inset, 0 2px 2px #ddd
  color #fff
  padding 3px 3px 2px
  background #334470

.button.button-action.button-action-join.active i,
.button.button-action.button-action-join:hover i
  background-position -179px -39px

.button[disabled], .button[disabled]:hover
  cursor default
  text-shadow none
  background-color #f5f5f5
  color #ccc
  border-color #eee

.button:active,
.button.active
  background #eaeaea
  border-color #ccc
  -webkit-box-shadow 0 0 5px rgba(0, 0, 0, .2) inset
  -moz-box-shadow 0 0 5px rgba(0, 0, 0, .2) inset
  box-shadow 0 0 5px rgba(0, 0, 0, .2) inset
