.comments-header
  margin-bottom 10px
  position relative
  h3
    font-size 20px
    margin-bottom 5px
  .subscribe
    position absolute
    top 15px
    right 0
    font-size 11px
    color #7b848d
    input
      top 2px

.comment-wrapper
  position relative
  .comment-wrapper
    padding-left 14px
  .reply
    margin-left 40px
  &.comment-folded
    display none

.comment-preview
  padding 5px 10px 16px
  margin-bottom 10px
  background #fafafa
  border 1px solid #eee
  border-radius 3px
  font-size 13px
  line-height 1.6em

#form_comment
  margin-bottom 16px

.folding
  width 13px
  height 13px
  position absolute
  top 8px
  left -16px
  background url(images/icons-synio.png) 0 -94px no-repeat
  cursor pointer
  &.folded
    background-position -13px -94px

.comment
  min-height 48px
  padding 0 0 10px
  position relative
  background #fff
  .deleted
    padding 16px 10px
    color #777
    background #f4f4f4
  .comment-avatar
    position absolute
    top -3px
    left 0
    width 18px
    height 18px
  &.comment-deleted
    em
      color #8b0000
  &.comment-self
    .comment-content
      background #fff
      &:after
        border-color #e6e6bd transparent transparent
      &:before
        border-color #fefef1 transparent transparent
  &.comment-new
    .comment-content
      background #edf7ed
      &:after
        border-color #dddb5c transparent transparent
      &:before
        border-color #fff transparent transparent
  &.comment-current
    .comment-content
      background #eff3f9
      border-color #58b
      &:after
        border-color #bae48e transparent transparent
      &:before
        border-color #cdf5a6 transparent transparent
  &.comment-hidden
    em
      color #8b0000
  .comment-actions
    li
      display inline
      margin-right 10px

.comments
  margin-bottom 30px
  &.comment-list
    .comment
      margin-bottom 12px
    .comment-info
      .blog-name
        color #000
      .comment-path-topic
        color #275ec2
      .comment-path-comments
        color #000

.comment-info
  display flex
  flex-flow row
  flex-wrap wrap
  align-items flex-end
  padding 0 50px 0 13px
  line-height 13px
  position relative
  overflow visible
  font-size 11px
  .comment-author
    font-weight bold
    color #444
    &:hover
      color #2c82fc
    &.comment-topic-author
      color #4b5468
  a
    &.delete
      color #ccc
  .comment-date
    color #999
  .comment-link
    background transparent url(images/icons-comment.png) no-repeat -14px 0
    height 14px
    width 17px
    &:hover
      background-position -14px -14px
  .goto.goto-comment-parent
    display inline-block
    color transparent
    text-decoration none
    width 14px
    height 14px
    overflow hidden
    background transparent url(images/icons-comment.png) no-repeat 0 0
    &:hover
      cursor pointer
      background-position 0 -14px
  .vote
    position absolute
    top 0
    right 0
    margin 0
    display flex
    flex-flow row
    align-items center
    .vote-count
      font-size 12px
      margin 0
.comment-info>a
.comment-info>div
.comment-info>time
.comment-info>span
  margin-right 10px

a.comment-edit-bw
a.comment-edit-bw.edit-timeout
a.comment-delete
a.reply-link
.lock-edit
  display none

.comments-allowed
  .reply-link
    display inline-block

.is-admin
  .comment-delete
    display inline-block

.is-admin
.is-moder
  .comment-edit-bw
  .comment-edit-bw.edit-timeout
  .lock-edit
    display inline-block

.comment-self
  .comment-edit-bw
    display inline-block

.comment-content
  background-color #f7f7f7
  margin-bottom 7px
  border 1px solid #e7ebed
  padding 5px 10px
  border-radius 5px
  position relative
  &.text
    blockquote
      background #fff
      border-color #ccc
      padding 5px 10px
      margin 5px 0
      & + br
        display none
  &:after
    display block
    position absolute
    bottom -12px
    left 10px
    width 0
    height 0
    border-width 6px
    border-color #e7ebed transparent transparent
    border-style solid
  &:before
    display block
    position absolute
    bottom -11px
    left 10px
    width 0
    height 0
    border-width 6px
    border-color #fff transparent transparent
    border-style solid
    z-index 10

.reply-header
  font-size 20px
  line-height 1.3em
  margin-bottom 15px

.reply
  textarea
    height 100px
    &.loader
      background #f7f7f7 url(images/loader.gif) no-repeat center
  .mceEditor
    display block
    margin-bottom 10px

.modify-notice
  font-size 10px
  font-style italic
  &.self-modified
    color #69b55b
  &.adm-modified
    color #aaaa00
  &.hard-modified
    color #d5883c

.comment:not(.editable)
  .comment-save-edit-bw,
  .comment-preview-edit-bw,
  .comment-cancel-edit-bw,
  .comment-lock-edit-bw
    display none
  
.comment
  .text.preview
    margin-bottom 7px

.comment.editable
  .comment-content
    .edit-form,
    .edit-form>label
      display block
    .text
      display none
      &.preview
        display block
  .comment-edit-bw
      display none

.comments-not-allowed
    font-size 16px
    padding 5px 10px
    border-radius 5px
    border 1px solid #e3e3e3
    background-color #eee

.comment-bad 
  .text 
    color #ccc
    img, iframe
      opacity 0
    a
      color #ccc

.comment-bad:hover 
  .text
    color inherit
    img, iframe
      opacity inherit
    a
      color #09f
    .ls-user
      color black

#quote
  background #fff
  color #333
  position absolute
  z-index 999
  display inline-block
  font 12px/15px Arial
  border 1px solid #777
  border-radius 5px
  cursor pointer
#quote:hover
  background-color #eef
#quote>i,#quote>b
  display inline-block
  background transparent url(images/markitup/edit.png) scroll -208px 0 no-repeat
  height 16px
  width 16px
#quote>b
  transform rotate(180deg)

#hidden-message
  margin 5px 0 10px
  a
    float right
    border-bottom 1px dotted #09f
    cursor pointer
