#container
  position relative
  overflow hidden
  background url(images/content-bg.jpg) no-repeat scroll 0 80px #FFFFFF
  margin 0 auto
  max-width 1600px
  &.toolbar-margin
    padding 0

#header
  background url(images/menu-bg.jpg) no-repeat scroll 0 0 #E8EBFC
  min-height 70px
  padding 0 42px 0 26px
  position relative
  overflow hidden
  z-index 1
  ul
    display flex
    flex-flow row
    flex-wrap wrap
    justify-content left

#nav
  min-height 26px
  overflow hidden
  padding 0 0 4px
  position relative

#wrapper
  display flex
  flex-flow row-reverse
  overflow hidden
  margin-bottom 60px
  &.no-sidebar
    background-image none
    margin-bottom 0
    #content
      width 100%
      margin-right 0
    #content-wrapper
      margin-right 0
      width 100%

#content
  position relative

#footer
  color #eee
  text-align center
  font-size 16px
  padding 12px 0 8px 0
  overflow hidden
  background #1d2a4f url(images/header-bg.jpg) no-repeat 0 0
  a
    color #eee
  .version
    margin-top 8px

#c-header
  height 80px
  font-family Georgia, Times, serif
  background #1d2a4f url(images/header-bg.jpg) no-repeat 0 0
  .main-menu
    color #cdcae9
    line-height 21px
    padding 20px 0 0 26px
    li
      display inline-block
      font-size 20px
      line-height 1.2em
      margin-right 20px
      a
        color #fafae8
        &:hover
          color fff
    li#logolink
      font-size 36px
      padding 0 42px 0 0
      white-space nowrap
      a
        color #cdcae9
        text-decoration none
  & .rss, & .twitter
    position absolute
    top 15px
    right 15px
    width 32px
    height 32px
    &:hover
      background-position 0 -32px
  .rss
    background url(images/rss.png)
  .twitter
    background url(images/twitter.png)
    right 52px

@media (min-width:1025px) and (max-width:1100px)
  #running_ponies
    img:nth-of-type(5)
      display none

@media (min-width:1025px)
  #wrapper
    padding 10px 16px 20px 26px
  #content-wrapper
    width 70%
    margin-right 5%
  #sidebar
    width 25%

@media (min-width:769px) and (max-width:1024px)
  #wrapper
    padding 10px 10px 20px 10px
  #content-wrapper
    width 70%
    margin-right 2%
  #sidebar
    width 28%
  #running_ponies
    img:nth-of-type(5)
      display none
  #reply
    margin-left 20px
  #comments
    .comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper 
      padding-left 0

@media (min-width:769px)
  body.widemode
    #content-wrapper
      width 100%
    #sidebar
      display none

@media (max-width:768px)
  #reply
    margin-left 0
  #wrapper
    margin 0
  #comments
    margin-bottom 0
  #modal_write,#window_upload_img
    position fixed
    width 100%
    height auto
    margin 0
    left 0
    .modal-content
      padding 5px 5px 15px 5px!important
  #modal_write
    top 150px
    .write-list
      display flex
      flex-flow row
      flex-wrap wrap
      justify-content space-between
      align-items center
      li
        margin 0 5px!important
        padding 0!important
  #window_upload_img
    top 50px
    .modal-header
      text-align center
    .modal-content
      .nav.nav-pills.nav-pills-tabs
        justify-content center
  #wrapper
    .table
      tr
        td,.cell-tab-inner
          padding 3px 0

@media (min-width:568px) and (max-width:769px)
  #c-header
    .main-menu
      padding-top 5px
      li:first-of-type
        width 100%
  #header
    overflow visible
    .auth,#dropdown-user
      background #F4F4F6
      display none
      top 15px
      right 0
      z-index 200
      width 32%
  #wrapper
    width 140%
    padding 10px 5px 20px 5px
  #content-wrapper
    width 70%
  #sidebar
    width 30%
    position relative
    top 0
    left 100%
    z-index 5
    .block,.donate
      border-radius 0
      background #f4f4f6
      padding-bottom 40px
      margin 0
    #running_ponies
      background #f4f4f6
      margin 0
  #comments
    .comment-wrapper
      padding-left 10px
    .comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper 
      padding-left 0
  .comment-info
    li
      margin-right 10px
  body.widemode
    #header
      .auth,#dropdown-user
        display inline-block
    #sidebar
      left -30%
    #toolbar
      display none!important

@media (max-width:567px)
  #wrapper
    padding 10px 5px 20px 5px
  #content-wrapper
    width 100%
    display block
  #sidebar
    width 100%
    display none
  #header
    padding 0 5px
    margin 0
    ul
      width 100%
    .auth,#dropdown-user,.modal.modal-login
      display none
  #c-header
    height 50px
    padding 5px 5px 0 5px
    .main-menu
      padding 0
      display flex
      flex-flow row
      flex-wrap wrap
      justify-content space-between
      li
        display none
        font-size 18px
        line-height 18px
        padding  0 2px 
      #logolink
        padding 0
        display block
        width 100%
        padding 0
        text-align center
        line-height 36px
    .rss,.twitter
      top 5px
      right 5px
      width 16px
      height 16px
      background-size 16px 32px
      &:hover
        background-position 0 -16px
    .twitter
      top 21px
  #footer
    padding-bottom 40px
  .topic
    margin-bottom 20px!important
  #comments
    .comments-header
      .subscribe
        position static
    .comment-wrapper
      padding-left 10px
    .comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper>.comment-wrapper 
      padding-left 0
    .comment-info
      li
        margin-right 5px
  #widemode
    right inherit
    left 0
    width 100%
    border-radius 0
    padding 5px
    text-align right
    a#up-switch,a#down-switch
      bottom 0
  #toolbar
    bottom 10px
    left 0
    height 25px
    right inherit
    top inherit
    z-index 101
    .toolbar-topic
      border 0 transparent solid
      margin 0
      display flex
      flex-flow row-reverse
      padding  6px 0 0 10px
      width auto
      height 25px
      a
        height 19px
        width 32px
        display inline-block
        i
          transform rotate(90deg)
          position relative
          top -6px
          left 6px
    .toolbar-update
      border 0 transparent solid
      padding 5px
      width auto
      display flex
      flex-flow row
      align-items center
      #new_comments_counter
        padding:0 10px
  #wrapper
    .profile
      .user-login,.user-name
        display block
        margin-right 100px
      .strength,.vote-profile,.button
        margin-left 0px
        float left
    .profile-info-about
      position static
      padding 0 5px
      .avatar
        top -5px
        left inherit
        right 0
    .profile-dotted-list
      li
        background-image none
        display flex
        flex-flow column
        span
          font-weight bold
        strong
          width 100%
    .table.table-blogs
      tr
        .cell-join
          width 20px
        .cell-readers,.cell-rating
          width 40px
    .table.table-users
      tr
        .cell-name+th,.cell-name+td
          width 20px
        .cell-skill,.cell-rating
          width 40px
    .form-profile
      .avatar-change
        right 5px
      .wrapper-content.wrapper-content-dark
        padding 10px 3px 20px 3px
    select
      max-width 100%!important
  body.widemode
    #sidebar
      display block
    #content-wrapper
      display none
    #c-header
      .main-menu
        li
          display inline-block
      #logolink,.rss,.twitter
        display none
    #header 
      ul.auth
        display flex
        padding-top 15px
      #dropdown-user
        display inline-block
        right 10px
        top 0
    #header
      .nav,#nav
        display none
