#container
  position relative
  overflow hidden
  background url(images/content-bg.jpg) no-repeat scroll 0 80px #FFFFFF
  margin 0 auto
  max-width 1600px
  &.toolbar-margin
    padding 0

#header
  background url(images/menu-bg.jpg) no-repeat scroll 0 0 #E8EBFC
  min-height 70px
  padding 0 42px 0 26px
  position relative
  overflow hidden
  z-index 1
  ul
    display flex
    flex-flow row
    flex-wrap wrap
    justify-content left

#nav
  min-height 26px
  overflow hidden
  padding 0 0 4px
  position relative

#wrapper
  display flex
  flex-flow row-reverse
  overflow hidden
  margin-bottom 60px
  &.no-sidebar
    background-image none
    margin-bottom 0
    #content
      width 100%
      margin-right 0
    #content-wrapper
      margin-right 0
      width 100%

#content
  position relative

#footer
  color #eee
  text-align center
  font-size 16px
  padding 12px 0 8px 0
  overflow hidden
  background #1d2a4f url(images/header-bg.jpg) no-repeat 0 0
  a
    color #eee
  .version
    margin-top 8px

#c-header
  height 80px
  font-family Georgia, Times, serif
  background #1d2a4f url(images/header-bg.jpg) no-repeat 0 0
  .main-menu
    color #cdcae9
    line-height 21px
    padding 20px 0 0 26px
    li
      display inline-block
      font-size 20px
      line-height 1.2em
      margin-right 20px
      a
        color #fafae8
        &:hover
          color fff
    li#logolink
      font-size 36px
      padding 0 42px 0 0
      white-space nowrap
      a
        color #cdcae9
        text-decoration none
  & .rss, & .twitter
    position absolute
    top 15px
    right 15px
    width 32px
    height 32px
    &:hover
      background-position 0 -32px
  .rss
    background url(images/rss.png)
  .twitter
    background url(images/twitter.png)
    right 52px
