.markItUp
  a
    background transparent url(images/markitup/edit.png) no-repeat
.markItUp
  .edit-bold
    a
      background-position-x -0px
  .edit-italic
    a
      background-position-x -16px
  .edit-strike
    a
      background-position-x -32px
  .edit-underline
    a
      background-position-x -48px
  .edit-superscript
    a
      background-position-x -64px
  .edit-subscript
    a
      background-position-x -80px
  .edit-small
    a
      background-position-x -96px
  .edit-h4
    a
      background-position-x -112px
  .edit-h5
    a
      background-position-x -128px
  .edit-h6
    a
      background-position-x -144px
  .edit-alignment-left
    a
      background-position-x -160px
  .edit-alignment-center
    a
      background-position-x -176px
  .edit-alignment-right
    a
      background-position-x -192px
  .edit-quotation
    a
      background-position-x -208px
  .edit-code
    a
      background-position-x -224px
  .edit-spoiler
    a
      background-position-x -240px
  .edit-spoiler-gray
    a
      background-position-x -256px
  .edit-list
    a
      background-position-x -272px
  .edit-list-order
    a
      background-position-x -288px
  .edit-list-item
    a
      background-position-x -304px
  .edit-image
    a
      background-position-x -320px
  .edit-video
    a
      background-position-x -336px
  .edit-embed
    a
      background-position-x -352px
  .edit-anchor
    a
      background-position-x -368px
  .edit-hr
    a
      background-position-x -384px
  .edit-br
    a
      background-position-x -400px
  .edit-user
    a
      background-position-x -416px
  .edit-tag
    a
      background-position-x -432px
  .edit-cut
    a
      background-position-x -448px

.markItUpEditor, .markItUpHeader
  width 100%
  box-sizing border-box

.markItUp
  width 100%

.markItUpContainer
  font 11px Verdana, Arial, Helvetica, sans-serif

.markItUpEditor
  font 12px "Courier New", Courier, monospace
  padding 5px
  height 100px
  line-height 145%
  overflow auto

.markItUpPreviewFrame
  overflow auto
  background-color #FFF
  border 1px solid #eee
  padding 10px
  height 300px
  margin 5px 0
  font 12px Tahoma, Arial, Helvetica, sans-serif
  p
    margin-bottom 18px
  blockquote
    background #fafafa
    padding 10px 15px
    color #555
    margin-bottom 5px
    clear both
  pre
    background #fafafa
    border 1px solid #dce6f0
    margin-bottom 10px
    overflow auto
    padding 5px 10px
  ul
    list-style-type disc
    margin-left 17px
  ol
    list-style-type decimal
    margin-left 22px
  img[align="right"]
    margin 4px 0 5px 15px
  img[align="left"]
    margin 4px 15px 10px 0

.markItUpFooter
  width 100%

.markItUpResizeHandle
  overflow hidden
  height 8px
  background url(images/markitup/handle.png) 50% 3px no-repeat
  cursor n-resize

.markItUpHeader
  background #eee
  padding 5px
  border-top 1px solid #c0cad5
  border-left 1px solid #c0cad5
  border-right 1px solid #c0cad5
  ul
    overflow hidden
    li
      list-style none
      float left
      position relative
      margin-right 6px
    .markItUpSeparator
      margin 0 6px 0 0
      width 1px
      height 16px
      overflow hidden
      background-color #CCC
    a
      display block
      width 16px
      height 16px
      text-indent -10000px
      background-repeat no-repeat
      margin 0
