.markItUp
  .edit-bold
    a
      background-image url(images/markitup/edit-bold.png)
  .edit-italic
    a
      background-image url(images/markitup/edit-italic.png)
  .edit-strike
    a
      background-image url(images/markitup/edit-strike.png)
  .edit-underline
    a
      background-image url(images/markitup/edit-underline.png)
  .edit-superscript
    a
      background-image url(images/markitup/edit-superscript.png)
  .edit-subscript
    a
      background-image url(images/markitup/edit-subscript.png)
  .edit-small
    a
      background-image url(images/markitup/edit-small.png)
  .edit-h4
    a
      background-image url(images/markitup/edit-h4.png)
  .edit-h5
    a
      background-image url(images/markitup/edit-h5.png)
  .edit-h6
    a
      background-image url(images/markitup/edit-h6.png)
  .edit-alignment-left
    a
      background-image url(images/markitup/edit-alignment-left.png)
  .edit-alignment-center
    a
      background-image url(images/markitup/edit-alignment-center.png)
  .edit-alignment-right
    a
      background-image url(images/markitup/edit-alignment-right.png)
  .edit-quotation
    a
      background-image url(images/markitup/edit-quotation.png)
  .edit-code
    a
      background-image url(images/markitup/edit-code.png)
  .edit-spoiler
    a
      background-image url(images/markitup/edit-spoiler.png)
  .edit-spoiler-gray
    a
      background-image url(images/markitup/edit-shade.png)
  .edit-list
    a
      background-image url(images/markitup/edit-list.png)
  .edit-list-order
    a
      background-image url(images/markitup/edit-list-order.png)
  .edit-list-item
    a
      background-image url(images/markitup/edit-list-item.png)
  .edit-image
    a
      background-image url(images/markitup/edit-image.png)
  .edit-video
    a
      background-image url(images/markitup/edit-video.png)
  .edit-embed
    a
      background-image url(images/markitup/edit-embed.png)
  .edit-anchor
    a
      background-image url(images/markitup/edit-anchor.png)
  .edit-hr
    a
      background-image url(images/markitup/edit-hr.png)
  .edit-br
    a
      background-image url(images/markitup/edit-br.png)
  .edit-user
    a
      background-image url(images/markitup/edit-user.png)
  .edit-tag
    a
      background-image url(images/markitup/edit-tag.png)
  .edit-cut
    a
      background-image url(images/markitup/edit-cut.png)

.markItUpEditor, .markItUpHeader
  width 100%
  box-sizing border-box

.markItUp
  width 100%

.markItUpContainer
  font 11px Verdana, Arial, Helvetica, sans-serif

.markItUpEditor
  font 12px "Courier New", Courier, monospace
  padding 5px
  height 100px
  line-height 145%
  overflow auto

.markItUpPreviewFrame
  overflow auto
  background-color #FFF
  border 1px solid #eee
  padding 10px
  height 300px
  margin 5px 0
  font 12px Tahoma, Arial, Helvetica, sans-serif
  p
    margin-bottom 18px
  blockquote
    background #fafafa
    padding 10px 15px
    color #555
    margin-bottom 5px
    clear both
  pre
    background #fafafa
    border 1px solid #dce6f0
    margin-bottom 10px
    overflow auto
    padding 5px 10px
  ul
    list-style-type disc
    margin-left 17px
  ol
    list-style-type decimal
    margin-left 22px
  img[align="right"]
    margin 4px 0 5px 15px
  img[align="left"]
    margin 4px 15px 10px 0

.markItUpFooter
  width 100%

.markItUpResizeHandle
  overflow hidden
  height 8px
  background url(images/markitup/handle.png) 50% 3px no-repeat
  cursor n-resize

.markItUpHeader
  background #eee
  padding 5px
  border-top 1px solid #c0cad5
  border-left 1px solid #c0cad5
  border-right 1px solid #c0cad5
  ul
    overflow hidden
    li
      list-style none
      float left
      position relative
      margin-right 6px
    .markItUpSeparator
      margin 0 6px 0 0
      width 1px
      height 16px
      overflow hidden
      background-color #CCC
    a
      display block
      width 16px
      height 16px
      text-indent -10000px
      background-repeat no-repeat
      margin 0

