/* Buttons */

.button {
padding: 3px 10px 6px;
*padding: 3px 10px 4px;
border: 1px solid #dfe3e8;
font-size: 13px;
line-height: 15px;
color: #434343;
background: #fbfcfc;
font-family: Verdana, sans-serif;
text-shadow: none;
}
.button:hover { background: #f0f2f5; }
.opera .button { padding: 4px 10px 5px; }


#form_comment .button {margin-top:2px;}

/* Button Primary */
.button.button-primary {
background: #334470;
border-color: #213162;
margin-right:8px;
}
.button.button-primary:hover { background: #4b64a4; }

/* Button Small */
.button.button-small { font-size: 11px; padding: 1px 7px 3px; }


/* Button Action */
.button.button-action {
border: none;
padding: 4px 4px 3px;
background: #c8f5ff;
}
.button.button-action span { display: none; }
.button.button-action:hover span { display: inline; padding: 0 5px 0 5px; position: relative; top: -2px; color: #fff; }
.button.button-action.active,
.button.button-action:hover {
border: 1px solid #2770e8;
box-shadow: 0 -1px 0 #128af3 inset, 0 2px 2px #ddd;
color: #fff;
padding: 3px 3px 2px;
background: #228dfa;
}
.button.button-action:hover i { vertical-align: top; position: relative; top: -1px; }

.button.button-action.button-action-add-friend:hover i { background-position: -147px -39px; }
.button.button-action.button-action-send-message:hover i { background-position: -163px -39px; }
.button.button-action.button-action-join.active i,
.button.button-action.button-action-join:hover i { background-position: -179px -39px; }

.button.button-action.button-action-note {
background: #ccf4d0;
padding: 6px 6px 6px 7px;
}
.button.button-action.button-action-note:hover {
background: #4ace56;
border: none;
box-shadow: none;
padding: 6px 6px 6px 7px;
cursor: default;
}
.button.button-action.button-action-note i { display: block; }
.button.button-action.button-action-note:hover i { top: 0; background-position: -46px -65px; }
.button.disabled, .button.disabled:hover {
cursor:default;
text-shadow:none;
background-color:#f5f5f5;
color:#ccc;
border-color:#eee;
}