/* КОММЕНТАРИИ */

/* Блок с комментариями */
.comments-header { margin-bottom: 10px; position: relative; }
.comments-header h3 { font-size: 20px; margin-bottom: 5px; }
.comments-header .subscribe { position: absolute; top: 15px; right: 0; font-size: 11px; color: #7b848d; }
.comments-header .subscribe input { top: 2px; }

.comments { margin-bottom: 30px; }

.comment-wrapper { position: relative; }
.comment-wrapper .comment-wrapper { padding-left: 16px; }

.comment-preview { padding: 5px 10px 6px; margin-bottom: 10px; background: #fafafa; border: 1px solid #eee; border-radius: 3px; font-size: 13px; line-height: 1.6em; }
#form_comment {margin-bottom:16px;}

/* Комментарий */
.comment { min-height: 48px; padding: 0 0 6px; position: relative; }
.comment .deleted { padding: 5px 10px; color: #777; background: #f4f4f4; }
.comment .comment-avatar { position: absolute; top:0; left: 5px; width: 20px; height: 20px; }
.comment .folding { width: 13px; height: 13px; position: absolute; top: 8px; left: -16px; background: url(../images/icons-synio.png) 0 -94px no-repeat; cursor: pointer; }
.comment .folding.folded { background-position: -13px -94px; }


/* Стили для списка комментариев на странице http://ваш_сайт/comments/ */
.comments.comment-list .comment { margin-bottom: 12px; padding-left: 0; }
.comments.comment-list .comment .comment-content { margin-bottom: 5px; }
.comments.comment-list .comment .comment-info li.vote .vote-count { margin-right: 0; }
.comments.comment-list .comment .comment-content:after { top: -12px; left: 25px; border-color: transparent transparent #e7ebed; }
.comments.comment-list .comment .comment-content:before { top: -11px; left: 25px; border-color: transparent transparent #fff; }
.comments.comment-list .comment-path { font-size: 11px; color: #a2b6cd; }
.comments.comment-list .comment-path .blog-name,
.comments.comment-list .comment-path .comment-path-comments { color: #000; }
.comments.comment-list .comment-path .comment-path-topic { color: #275ec2; }



/* Типы комментариев
 *
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 *
 */
.comment { background: #fff; }
.comment.comment-deleted 	.comment-content 		{ background: #c5c5c5; border-color: #C8A8A8; }
.comment.comment-deleted	.comment-content:after 	{ border-color: #C8A8A8 transparent transparent; }
.comment.comment-deleted 	.comment-content:before { border-color: #c5c5c5 transparent transparent; }
.comment.comment-self .comment-content		{ background: #fff;}
.comment.comment-self		.comment-content:after 	{ border-color: #e6e6bd transparent transparent; }
.comment.comment-self 		.comment-content:before { border-color: #fefef1 transparent transparent; }
.comment.comment-new 		.comment-content		{ background: #edf7ed;}
.comment.comment-new		.comment-content:after 	{ border-color: #dddb5c transparent transparent; }
.comment.comment-new 		.comment-content:before { border-color: #fff transparent transparent; }
.comment.comment-current 	.comment-content		{ background: #ffebeb; border-color: #B17979; }
.comment.comment-current	.comment-content:after 	{ border-color: #bae48e transparent transparent; }
.comment.comment-current 	.comment-content:before { border-color: #cdf5a6 transparent transparent; }
.comment.comment-bad 		.comment-content		{}
.comment.comment-bad:hover 	.comment-content		{}

.comment.comment-hidden .comment-info li.comment-hide {display:none}
.comment .comment-info li.comment-hide a { color:#CCC; cursor: pointer; }

.ls-user-role-not-admin .comment.comment-deleted 	{ display:none; }
.comment.comment-hidden .comment-info .edit { display: none }

/* Info Block */
.comment-info { padding: 0 70px 7px 0; line-height: 12px; position: relative; top: -2px; overflow: hidden; zoom: 1; font-size: 11px; }
.comment-info li { float: left; height: 18px; padding-top: 3px; margin-right: 13px; }
.comment-info li.comment-author  { padding-left:30px; }
.comment-info li a.delete {color:#ccc;}
.comment-info li a.link-dotted 		{ color: #09f; text-decoration: none; border-bottom: 1px dotted #09f; }
.comment-info li a.link-dotted:hover { color: #f00; border-color: #f00; }
.comment-info li.comment-author a { font-weight: bold; color: #444; }
.comment-info li.comment-author.comment-topic-author a { color: #4b5468; }
.comment-info li.comment-author.comment-topic-author { }
.comment-info li.comment-date { color: #999; }
.comment-info li.goto a { color: #a2b6cd; text-decoration: none; }
.comment-info li .favourite-count { font-size: 10px; color: #a2b6cd; position: relative; top: -2px; }

div.favourite {text-decoration:underline;color:#999;}
div.favourite:hover {text-decoration:none;}

.comment-info li.vote 					{ position: absolute; top: 0; right: 0; margin: 0; }
.comment-info li.vote .vote-count 		{ float: left; color: #949aa1; font-weight: bold; padding-top: 3px; margin-right: 6px; }
.comment-info li.vote .vote-down 		{ float: left; width: 20px; height: 20px; background: url(../images/down.png) 0 1px no-repeat; cursor: pointer; margin-left: 4px; }
.comment-info li.vote .vote-down:hover { }
.comment-info li.vote .vote-up 		{ float: left; width: 15px; height: 20px; background: url(../images/up.png) 0 0 no-repeat; cursor: pointer; margin-left: 4px; }
.comment-info li.vote .vote-up:hover 	{  }

.comment-info li.vote .vote-count {font-size:12px;margin:0;padding:0;line-height:18px;}
.comment-info li.vote.vote-count-positive .vote-count { color: #51983c; }
.comment-info li.vote.vote-count-negative .vote-count { color: #da4242; }

.comment-info li.goto-comment-child { display: none; }

/* Content */
.comment-content {  background-color:#f7f7f7; margin-bottom: 5px; border: 1px solid #e7ebed; padding: 5px 10px; border-radius:5px; position: relative; }
.comment-content.text { font-size: 13px; }
.comment-content.text blockquote { background: #fff; border-color: #ccc; padding: 5px 10px; margin-bottom: 5px; margin: 5px 0px 5px 0px;}
.comment-content.text blockquote + br { display: none; }
.comment-content:after { display: block;  position: absolute; bottom: -12px; left: 10px; width: 0; height: 0; border-width: 6px; border-color: #e7ebed transparent transparent; border-style: solid; }
.comment-content:before { display: block;  position: absolute; bottom: -11px; left: 10px; width: 0; height: 0; border-width: 6px; border-color: #fff transparent transparent; border-style: solid; z-index: 10; }


/* Actions */
.comment .comment-actions li { display: inline; margin-right: 10px; }


/* Форма комментирования */
.reply-header { font-size: 20px; line-height: 1.3em; margin-bottom: 15px; }

.reply { }
.reply textarea { height: 100px; }
.reply textarea.loader { background: #f7f7f7 url(../images/loader.gif) no-repeat center;}

.reply .mceEditor { display: block; margin-bottom: 10px; }

.comment-wrapper .reply { margin-left: 40px; }
