/* НАВИГАЦИЯ */
.nav 					{ overflow: hidden; zoom: 1; }
.nav li 				{ float: left; }

/* Nav Pills */
.nav.nav-pills 				{ margin-bottom: 15px; font-size: 13px; }
.nav.nav-pills li { margin-right: 14px; font-weight:bold; line-height:16px;}
.nav.nav-pills li a 		{ display: block; text-decoration: underline; float: left; }
.nav.nav-pills li a:hover 	{ color: #333; border-color: #333; }
.nav.nav-pills li a.new		{ margin-left: 5px; text-decoration: none; color:green;position:relative;top:-2px; }
.nav.nav-pills li.active 	{ border-color: #ccc; }
.nav.nav-pills li.active a 	{ color: #333; text-decoration: none; border-color: #ebf0f4; }

.nav.nav-pills.nav-pills-profile 		{ margin-bottom: 10px; }


/* Nav Topic Filter */
.nav.nav-menu { font-size: 13px; border-radius: 13px; display:inline-block; position: relative; }
.nav.nav-menu li { position: relative; height: 22px; padding: 1px 1px 1px 0; }
.nav.nav-menu li a { 
height: 22px; 
line-height: 24px;
padding: 0 10px 0 0;
float: left;
}
.nav.nav-menu li.active {}
.nav.nav-menu li.active a { font-weight:bold; color: #333; text-decoration:none;}

.nav.nav-menu.nav-filter-sub li a 			{ padding: 5px 10px; font-size: 11px; color: #777; }
.nav.nav-menu.nav-filter-sub li.active a 	{ color: #fff; }
.nav-menu-wrapper { margin-bottom: 10px; position: relative; }
.oldie .nav.nav-menu { border-color: #dfe3e8; border-right: none; }
.oldie .nav.nav-menu li { border-right: 1px solid #dfe3e8; }
.oldie #nav { background: #f6f6f6; }


/* Userbar */
#userbar {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 4px 4px;
}
#userbar .search { float: left; margin: 5px 0 0 6px; *margin: 4px 0 0 4px; }

.nav.nav-userbar 									{ float: right; }
.nav.nav-userbar li 								{ border-radius: 0 0 0 4px; border-left: 1px solid #eaeaea; }
.nav.nav-userbar li a 								{ color: #555; }
.nav.nav-userbar li:first-child a 					{ border-radius: 0 0 0 4px; }
.nav.nav-userbar li:last-child a 					{ border-radius: 0 0 4px 0; }
.nav.nav-userbar li.nav-userbar-username a 			{ position: relative; padding-left: 47px; font-weight: bold; color: #333; }
.nav.nav-userbar li.nav-userbar-username .avatar 	{ position: absolute; top: 7px; left: 15px; }
.nav.nav-userbar li .new-messages 					{ color: #4AA731; font-weight: bold; }


/* Nav Main */
.nav.nav-main 					{ height: 51px; }
.nav.nav-main li 				{ margin-right: 18px; /* 2013-fix position: relative;*/ height: 51px; line-height: 49px; }
.nav.nav-main li:last-child 	{ margin-right: 0; }
.nav.nav-main li a { font-size:20px; }
.nav.nav-main li a:hover 		{}
.nav.nav-main li i 				{ display: none; position: absolute; bottom: 0; left: 50%; margin-left: -2px; width: 0; height: 0; border: 3px solid transparent; }
.nav.nav-main li.active i 		{ display: block; }
.nav.nav-main li.active a 		{ color: #000; text-decoration:none; }

.nav.nav-main li.nav-main-more 			{ display: none; }


/* Nav Profile */
.nav.nav-profile 				{ margin-top: 15px; }
.nav.nav-profile li 			{ float: none; font-size: 15px; border-bottom: 1px dotted #dce1e6; padding:8px; }
.nav.nav-profile li a 			{ text-decoration: underline; color: #275ec2; }
.nav.nav-profile li a:hover 	{ color: #f00; }
.nav.nav-profile li.active a 	{ text-decoration: none; color: #000; }

/* Dropdown */
.nav.nav-pills li.dropdown 			{ position: relative; }
.nav.nav-pills li.dropdown a 		{ padding-right: 12px; }
.nav.nav-pills li.dropdown i 		{ position: absolute; top: 4px; right: 3px; cursor: pointer; }
.nav.nav-pills li.dropdown ul 		{ display: none; position: absolute; }

.dropdown-menu {
display: none;
padding: 10px 10px 13px;
border: 1px solid #CCC;
border-radius: 6px;
position: absolute;
top: 32px;
overflow: hidden;
z-index: 10;
background: white;
min-width: 90px;}


.dropdown-menu li                                       { line-height: 1em; margin-bottom: 15px; }
.dropdown-menu li:last-child            { margin-bottom: 0; }
.dropdown-menu li a                             { display: block; }
.dropdown-menu li a:hover                       {  }
.dropdown-menu li.active a                      { color: #aaa; }



.dropdown-create 		{ margin-right: 120px; line-height: 23px; }
.dropdown-create a 		{ font-weight: normal; }
.dropdown-create h2 a 	{ text-transform: lowercase; display: inline-block; }

.dropdown-menu-create 				{ padding: 10px 15px 15px; border: 3px solid #edf8fd; border-radius: 10px; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5); box-shadow: 0 0 10px rgba(0,0,0,.5); position: absolute; background: #fff; min-width: 150px; z-index: 10; font-size: 27px; text-transform: lowercase; }
.dropdown-menu-create li 			{ line-height: 1em; margin-bottom: 10px; }
.dropdown-menu-create li:last-child { margin: 0; }
.dropdown-menu-create li a 			{ color: #275ec2; text-decoration: none; border-bottom: 1px solid #275ec2; display: inline-block; }
.dropdown-menu-create li a:hover 	{ color: #f00; border-color: #f00; }
.dropdown-menu-create li.active a	{ color: #aaa; border-color: #aaa; }

.nav.nav-pills.nav-pills-dropdown { position: absolute; top: 0; right: 0; margin: 0; display: none; }
.nav.nav-pills.nav-pills-dropdown li { margin: 0; }

