/* ТОПИК */

.topic { margin-bottom: 50px; }
.topic:last-child { margin-bottom: 0; }
.topic-info .avatar { width:20px;height:20px;margin-bottom:-5px;}
.private-blog {background:transparent url('../images/lock.png') no-repeat 100% 0; padding-right:20px;}
/* Header */
.topic-header   { margin-bottom: 8px; }
.topic-header .topic-title   { font-size: 23px; line-height: 1.1em; font-weight: normal; }
.topic-header .topic-title a:hover  { color: #f00; }
.topic-header .topic-title i { position: relative; top: 9px; cursor: help; margin-right: 5px; }
.topic-header .topic-info   {  color: #777; }
.topic-header .topic-info time { margin-right: 15px; }
.topic-header .topic-info .topic-blog 	{ color: #999; }
.topic-header .topic-info .topic-blog:hover 	{ color: #666; }
.topic-header .topic-info .blog-list-info 	{ position: relative; top: 5px; }
.topic-header .topic-actions { padding: 5px 10px; font-size: 13px; overflow: hidden; }
.topic-header .topic-actions li { float: left; margin-right: 18px; }
.topic-header .topic-actions li.draft a	{ color: #27964c; }
.topic-header .topic-actions li.delete a	{ color: #da4242; }
.topic-header .topic-actions li i{ margin-right: 3px; }


.topic-actions .edit {margin-right:10px;}
/* Content */
.topic-content  { margin-bottom: 8px; }
.topic-content .topic-header  { display:none; }
.topic-content.text 	{ color: #333; }

/* Tags */
.topic-tags, .topic-tags a { margin:0; color: #999; }
.topic-tags a  { text-decoration: underline; }
.topic-tags a:hover { text-decoration: none; }
.topic-tags a.link-dotted { text-decoration: none; }
.topic-tags a.link-dotted:hover	{ color: #333; border-color: #333; }
.topic-tags .topic-tags-edit { margin-left: 20px; }
.topic-tags .topic-tags-user a 	{ color: #139643; }

/* Info */
.topic-footer .topic-info  { overflow: hidden; line-height: 11px; }
.topic-footer .topic-info li { float: left; padding:6px 11px 6px 0; }
.topic-footer .topic-info .topic-info-author {padding-left:24px;}
.topic-footer .topic-info-author .avatar {position:absolute;margin:-4px 0 0 0;left:0;}

.topic-info-vote { padding: 0; margin-right: 0; overflow: hidden; display:inline-block; vertical-align:bottom;}
.topic-header .topic-title .topic-info-vote i {margin-right:0;top:0;}

li.topic-info-date  { color: #7b848d; }

li.topic-info-comments a 	{ color: #727fa0; float: left; }
li.topic-info-comments a:hover { color: #f00; }
li.topic-info-comments a.new  { color: #000; }
li.topic-info-comments span  { text-decoration: underline; font-weight:bold; }
li.topic-info-comments span.count 	{ color: #27a736; text-decoration: none; }
li.topic-info-comments i { float: left; margin-right: 7px; }

li.topic-info-favourite { color:#828a93; cursor:pointer; }
li.topic-info-favourite .favourite { float:left; text-decoration:underline; font-style:normal}
li.topic-info-favourite .favourite:hover {text-decoration:none;}


/* Poll */
.poll { margin-bottom: 15px; }

.poll .poll-vote { margin-bottom: 20px; margin-left: 0; list-style-type: none;	}
.poll .poll-vote li  { margin-bottom: 10px; }
.poll .poll-vote li:last-child  { margin-bottom: 0; }
.poll .poll-vote li label { display: inline; }
.poll .poll-vote li input { position: relative; top: 1px; margin-right: 2px; }

.poll .poll-result { list-style-type:none; overflow:hidden; }
.poll .poll-result li { margin-bottom:15px; }
.poll .poll-result li dl { overflow:hidden; zoom:1; }
.poll .poll-result li dl dt { float:left; width:80px; }
.poll .poll-result li dl dt span { font-size: 11px; color: #aaa; }
.poll .poll-result li dl dd { padding-left: 80px; }
.poll .poll-result li dl dd div { height:21px; overflow:hidden; background:#ccc url('../images/poll.jpg') no-repeat 0 0; }

.poll .poll-total { position:relative; color: #818189; font-size:11px; line-height:16px; padding-left:80px; margin-bottom:20px; }
.poll .poll-total .poll-sort { position:absolute; top:2px; left:0; width:23px; height:23px; background: url(../images/icons-synio.png) -161px 0 no-repeat; cursor:pointer; }
.poll .poll-total .poll-sort.active  { background-position:-184px 0; }

/* Topic Preview */
.topic-preview { margin-top: 30px; }
.topic-preview .profile-page-header { border-top: 1px solid #ddd; }
.topic-preview .topic { margin-bottom: 20px; }
.vote-topic-info li { margin-bottom: 3px; }